<accordion nwp-accordion="form" ng-model="$$value$$" ng-init="selected = { acc: 0 }" close-others="{{ form.closeOthers }}" class="{{ form.fieldHtmlClass }}">
   <accordion-group is-open="true" ng-repeat="accordionGroup in form.accordionGroups">
      <accordion-heading>
         <div class="heading-content">
            <i class="fa fa-fw" ng-class="{'fa-caret-down': showChapter, 'fa-caret-right': !showChapter}" fw="fw"></i>
            {{ heading || accordionGroup.title || 'Undefined title' | translate }}</div>
      </accordion-heading>
      <bootstrap-decorator ng-repeat="item in accordionGroup.items" form="item"></bootstrap-decorator>
   </accordion-group>
</accordion>
