<uib-accordion nwp-accordion="form" ng-model="$$value$$" ng-init="selected = { acc: 0 }" close-others="{{ form.closeOthers }}" class="{{ form.fieldHtmlClass }}">
   <uib-accordion-group is-open="true" ng-repeat="accordionGroup in form.accordionGroups">
      <uib-accordion-heading>
         <div class="heading-content" ng-click="showChapter=!showChapter">
            <i class="fa fa-fw" ng-class="{'fa-caret-down': showChapter, 'fa-caret-right': !showChapter}" fw="fw"></i>
            {{ text || 'Undefined title' | translate }}
         </div>
      </uib-accordion-heading>
      <bootstrap-decorator ng-repeat="item in accordionGroup.items" form="item"></bootstrap-decorator>
   </uib-accordion-group>
</uib-accordion>
